@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    .navigation-bar {
        flex-direction: column;
    }

    .nav-left h2 {

        font-size: 1.31rem;

    }

    .nav-right a {
        font-size: 1rem;


    }

    .nav-right {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .banner {
        width: 100%;
        height: 600px;
        object-fit: cover;
        background-image: url('../Images/banner.png');
        box-sizing: border-box;
        background-position: 50%;
    }

    .banner-title-description h2 {
        font-size: 2.25rem;
    }

    .banner-input-button p{
        width: 255px;
    }

    .banner-title-description p {
        font-size: 1rem;
    }

    .banner-title-description {
        padding: 20px 20px;
    }

    .banner-input-button {
        flex-direction: column;
        gap: 10px;
        margin: 0px auto;
        width: 182px;
        margin-bottom: 15px;
        
    }

    .banner-button {
        width: 255px;
        
    }

    .popular-section{
        flex-direction: column;
        padding: 20px;
    }

    .popular-section img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .destination-first-row-image{
        flex-direction: column;
        gap: 10px;
    }

    .destination-second-row-image{
        flex-direction: column;
        gap: 10px;
    }
    .destination-third-row-image{
        flex-direction: column;
        gap: 10px;
    }

    .distination-title h2{
        font-size: 1.25rem;
    }

    .distination-title p{
        font-size: 0.875rem;
    }

    .destination{
        padding: 20px;
    }

    .destination img{
        width: 100%;
        height: 200px;
        border-radius: 16px;
    }

    .destination-img-text{
        font-size: 1.25rem;
        font-weight: 700;
        top: 45%;
        left: 30%;
    }

    .why-chose-us-section-heading h2{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .why-chose-us-section-heading p{
        font-size: 0.875rem;
    }

    .card h3{
        font-size: 1.25rem;
        margin-bottom: 10px;

    }

    .card p{
        font-size: 0.875rem;
    }

    .first-row-card {
        flex-direction: column;
    }

    .card {
        padding: 20px;
        width: 100%;
    }

    .second-row-card{
        flex-direction: column;
    }




}